td > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

.ant-table {
  box-shadow: 0px 1px 4px -2px #000000 inset;
}

td.ant-table-column-sort {
  background: unset;
}

.ant-table-tbody > tr > td:nth-child(n + 3) {
  padding-left: 40px;
}

.selected button {
  color: #f04747;
  border: 1px solid #f04747;
}

button {
  border-radius: 50%;
  border: 1px solid #434344;
  color: #434344;
  background: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #d6d1d18c;
}

@media only screen and (max-width: 600px) {
  .ant-table-cell {
    font-size: 11px;
  }
  button {
    font-size: 13px;
  }
  .ant-table-tbody > tr > td:nth-child(n + 3) {
    padding-left: 25px;
  }
}
